<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css?h=ddc5a208e3d2bbc089de79b854eb361d">
        <link rel="stylesheet" href="../assets/css/Kaushan%20Script.css?h=13539310958e846aecb939b65c8f35cb">
        <link rel="stylesheet" href="../assets/css/Montserrat.css?h=345d1187bfe4bd75062fc94be8104e8b">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/Features-Small-Icons-icons.css?h=befd8a398792e305b7ffd4a176b5b585">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
        <link rel="stylesheet" href="../assets/css/Pricing-Yearly--Monthly-badges.css?h=966f4a3faf034d0f7f9779567201fb70">
        <link rel="stylesheet" href="../assets/css/Simple-Slider-Simple-Slider.css?h=da830b6503e0457b5735b0129f20b163">
        <link rel="stylesheet" href="../assets/css/untitled.css?h=d41d8cd98f00b204e9800998ecf8427e">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
        <script src="../assets/js/agency.js?h=acf54d2ff1689ddc6ead1711be64020a"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
        <script src="../assets/js/Lightbox-Gallery.js?h=64eb55ccbc6ead5e91ebe308caacba6e"></script>
        <script src="../assets/js/Simple-Slider.js?h=84b1d7cbf88bb21b37fb412ca8f94640"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
